.dashboardBG {
    background-image: url("../../assets/clouds-cold-dark-540518.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    color: white;
    font-family: 'Exo 2', sans-serif;
    height: 100%;
  }

.dashHead {
  margin-top: 0;
}

.side-nav {
  width: 16%; 
}

#navBtn {
  position: fixed;
  top: 3%;
  left: 2%;
  background-color: a00800;
}
.btn:focus{ 
  background-color: red; 
}

.dashIcons {
  margin: 0;
  position: absolute;
  z-index: 1;
  background-color: white;
}

.iconSize {
  font-size: 20px;
}

.tempOneCard {
  max-height: 200px;
  overflow-y: scroll;
}