#endorLogo {
    max-width: 100%;
    margin: 80px auto;
    height: 40px;
    text-align: center;
    margin-top: 1px;
}
#endorWord {
    margin-top: 10px;
    text-align: center;
  
}
.material-icons {
    font-size: 40px;
}


#biomeWord{
    text-align: center;
 
}


