
body {
    background-image: url("../../assets/adventure-beautiful-cliff-736897.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    background-color: rgb(15, 15, 15);
    color: white;
    font-family: 'Exo 2', sans-serif;
  }

* {
    box-sizing: border-box;
    text-decoration: none;
    text-align: center;
}

i {
    color: #ef4036;
    font-family: 'Exo 2', sans-serif;
}


.material-icons {
    font-size: 40px;
}
.input-field label {
    color: white
}
.input-field {
    color:white;
}
.input-field .prefix.active {
    color: white;
}
.input-field input[type=text]:focus + label {
    color: #000;
}
.input-field input[type=text]:not(.browser-default) {
    border-bottom: 1px solid red;
    color: white;
}
.input-field textarea[class=materialize-textarea]:focus {
   color: white;
}
.input-field input:focus + label {
    color: red !important;
}
.row .input-field input:focus {
    border-bottom: 1px solid white !important;
    box-shadow: 0 1px 0 0 white !important
}
p.form-title {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
    letter-spacing: 4px;
    width: 300px;
}
.biomeTitle {
text-align: center;
vertical-align: top;

}



#logInBox {
    background-color: rgba(41, 42, 50, 0);
    position: relative;
    width: 300px;
    color: white
}

#logInButton {
    background-color: rgba(138, 138, 138, 0);    
    margin: 0 auto;
    position: relative;
    opacity: 0.85;
    background-position: center;
    border-width: 2px;
    box-shadow: none;
    font-size: 100%
}

#username {
    color: white;
}
#desertImg {
    width: 50%;
    height: auto;
    position: relative;
    top: 27px;
    right: 0;
 
    width: 280px;
    height: 252px;
    
}


#oceanImg {
    width: 50%;
    height: auto;
    position: relative;
    top: 27px;
    right: 0;
 
    width: 280px;
    height: 252px;
   
}

#forestImg {
    width: 50%;
    height: auto;
    position: relative;
    top: 27px;
    right: 0;
    width: 280px;
    height: 252px;
    
}


#biomeParagraph {
    text-align: center;
}

