.switchStyle {
    background-image: url("../../assets/wallhaven-429538 (1).jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100vh; 
    width: 100%;
    background-size: cover;
    color: white;
    font-family: 'Exo 2', sans-serif;
  }

.switch {
    padding: 50px; 
  }

.switchHeader {
  font-weight: bold;
}

label {
  color: white;
  }

.material-icons {
  font-size: 25px;
}




