/* .dashChartBG {
    background-image: url("../../assets/clouds-cold-dark-540518.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    color: white;
    font-family: 'Exo 2', sans-serif;
    height: 100%;
  } */