.usersettingsBG {
    background-image: url('../../assets/cliffs.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
    font-weight: bold;
    font-family: 'Exo 2', sans-serif;
}

.material-icons {
    font-size: 40px;
    padding: none;
}

.userheading {
    font-size: 22px;
}


#plSel {
    position: relative;
    top: 20px;

}

#bSel {
    padding-top: 20px;
}

.formBG {
    background-color: rgba(0, 0, 0, 0.39);
    height: 80%;
}

.finishBTN {
    position: relative;
    opacity: 0.85;
    background-position: center;
    border-width: 2px;
    color: white;
    margin: 15px auto;
    text-align: center; 
    font-weight: bold;
}
.finishBTN:hover,
.finishBTN:after {
    background-color: rgba(138, 138, 138, 0.212) !important; 
}

.dropdown-content {
    color: #a00800 !important;
}
